@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.article-container {
  background-color: #9dafcc;
}


.feed-container {
  left: 5vw;
  position: absolute;
  right: 5vw;
}


.inner-feed-container {
  background-color: #dcdfe2;
  font-family: 'Raleway', sans-serif;
}




.profile-container {
  background-color: #dcdfe2;
  font-family: 'Raleway', sans-serif;
}
.stat-container {
  background-color: #dcdfe2;
  font-family: 'Raleway', sans-serif;
}


.nav-bar {
    text-decoration: none;
    padding-bottom: 40px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
}


.login-page {
  width: 360px;
  /*padding: 8% 0 0;*/
  margin: auto;
}

.login-page img {
  padding-top: 100px;
  height: 300px;
  position: relative;
  padding-bottom: 30px;
  padding-left: 60px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
/*.signin-form {
    background-color: #dcdfe2;
}


.signup-form {
    background-color: #dcdfe2;
}*/


/*!
 *
 *  React Simpletabs - Just a simple tabs component built with React
 *  @version v0.1.0
 *  @link https://github.com/pedronauck/react-simpletabs
 *  @license MIT
 *  @author Pedro Nauck (https://github.com/pedronauck)
 *
 */

 /* =============================================================================
   An example of how stylize the tabs
 ============================================================================= */

 .tabs {
   margin-top: -50px;
 }

 .tabs-navigation {
   padding: 0 50px;
 }

 .tabs-panel {
   padding: 50px;
 }


.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #ddd;
}
.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs-menu-item {
  float: left;
}
.tabs-menu-item a {
  display: block;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  border-bottom: 0;
  color: #a9a9a9;
}
.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}
.tabs-menu-item.is-active a {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;
}
.tabs-panel {
  display: none;
  padding: 30px;
}
.tabs-panel.is-active {
  display: block;
}
