@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.article-container {
  background-color: lightseagreen;
}

.feed-container {
  background-color: grey;
  font-family: 'Raleway', sans-serif;
}
