@import url('https://fonts.googleapis.com/css?family=Raleway:200');


.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  padding-top: 80px;
  height: 480px;
  position: relative;
  padding-bottom: 30px;
  padding-left: 60px;
}

/*.App-header {
  background-color: #9dafcc;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
}*/

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
